:root {
  --main-body-color: #ffffff;
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
  --first-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --ocean: #4d5ae5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-body-color);
  color: var(--main-text-color);
}
.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ------------------------Header------------------ */
.header {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.main-nav {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}

.navigation {
  display: flex;
  /* position: relative; */
}

.logo-header {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ocean);
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-header-part {
  color: #2e2f42;
}
.nav-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link:is(:hover, :focus) {
  color: #404bbf;
}
/* after element in header menu */
.nav-item-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  background: var(--ocean);
}
.current {
  color: var(--ocean);
}
/* ---------------------------- */

.address {
  font-style: normal;
}
.address-list {
  display: flex;
}
.address-item:not(:last-child) {
  margin-right: 40px;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-item:is(:hover, :focus) {
  color: #404bbf;
}
/* -----------------------------------------------------------------Main------------------- */
/* ------------------------Section 1------------------ */
.first-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.first-section {
  background-color: #2e2f42;
  background-image: var(--first-gradient), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  height: 600px;
  max-width: 1440px;
  margin: 0 auto;
}
.first-section-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  width: 496px;

  margin-bottom: 48px;
}
.first-section-btn {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.first-section-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
}
/* ------------------------Section 2------------------ */
.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-list {
  display: flex;
  gap: 24px;
}
.second-list-item {
  width: calc((100% - 72px) / 4);
}
.second-list-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 24px 100px; */
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  margin-bottom: 8px;
}
/* .second-list-icon {
  padding: 24px 100px;
} */
/* .second-list-item:not(:last-child) {
  margin-right: 24px;
} */
/* .list li:not(:last-child) {
  margin-right: 24px;
} */
.second-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.second-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* ------------------------Section 3------------------ */
.third-section {
  padding-bottom: 120px;
}
/* .third-section-item:not(:last-child) {
  margin-right: 24px;
} */

.third-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.third-section-item {
  width: calc((100% - 48px) / 3);
}
.third-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
}
/* ------------------------Section 4------------------ */
.forth-section {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}
.forth-list {
  display: flex;
  gap: 24px;
}

.forth-section-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.forth-section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.title-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.forth-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.our-container {
  padding: 32px 16px 32px 16px;
}
.our-team-img {
  display: block;
}
.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--ocean);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-links:is(:hover, :focus) {
  background-color: #404bbf;
}
/* ------------------------Section 5------------------ */
.fifth-section {
  padding-top: 130px;
  padding-bottom: 120px;
}
.fifth-section-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
}
.fifth-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
}
.fifth-section-list {
  display: flex;
  gap: 24px;
}
/* .fifth-section-item {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  width: calc((100% - 120px) / 6);
  height: 88px;
} */
.fifth-section-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.fifth-section-links {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  /* padding: 16px 32px; */
  height: 88px;
  color: #8e8f99;
  height: 100%;
  width: 100%;
}
.customers-icons {
  fill: currentColor;
}
.fifth-section-links:is(:hover, :focus) {
  border: 1px solid #404bbf;
  color: #404bbf;
}

/* ---------------------------------------------------------Portfolio------------------ */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.portfolio-img {
  display: block;
}
/* .portfolio-list-container {
  padding-bottom: 120px;
  box-sizing: content-box;
} */
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  position: relative;
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  position: absolute;
  height: 100%;
  color: #f4f4fd;
  background-color: var(--ocean);
  transform: translatey(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 162px;
  padding-left: 32px;
}
.portfolio-list-item:hover .cover-text {
  transform: translatey(0%);
}
/* .portfolio-list-item:not(:nth-child(3n + 3)) {
  margin-right: 24px;
}
.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
} */
.portfolio-list {
  gap: 48px 24px;
}
.portfolio-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-btn {
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  padding: 12px 24px 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.portfolio-btn:is(:hover, :focus) {
  background-color: #404bbf;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.portfolio-link {
  display: block;
}
.portfolio-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ------------------------Footer------------------ */
.footer {
  padding-bottom: 100px;
  padding-top: 100px;
}
.footer {
  background-color: #2e2f42;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-container {
  display: flex;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-first {
  margin-right: 120px;
}

.footer-social-items {
  width: 40px;
  height: 40px;
}
.footer-social-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-links:is(:hover, :focus) {
  background-color: #31d0aa;
}

/* Madal window */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(46, 47, 66, 0.4);
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
  padding: 24px;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
/* .modal-close-icon:is(:hover, :focus) {
  fill: #ffffff;
  color: #404bbf;
} */

.modal-close-button:is(:hover, :focus) {
  background-color: #404bbf;
}
.modal-close-button:is(:hover, :focus) .modal-close-icon {
  fill: #ffffff;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
